* {
    border: none;
    border-radius: 0px;
    font-family: "Inconsolata";
    font-size: 16px;
    min-height: 0;
    color: #d5dae0;
}

window#waybar {
    border-bottom-style: inset;
    border-bottom: 4px solid #ae4c2f;
    background: #252525;
}

#workspaces, #clock, #custom-music, #window { 
    font-weight: 800;
}

/* Workspace Buttons */
#workspaces button label{
    color: #ae4c2f;
}

#workspaces button.focused label {
    color: #252525;
}
#workspaces button.focused {
    background: #ae4c2f; 
}

#mode {
    background-color: #ae4c2f;
    color: white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor {
    padding: 0 5px;
    margin: 0 10px;
}


#idle_inhibitor {
    padding: 0 10px;
}

#idle_inhibitor.activated {
    background-color: #689d6a;
    color: #1d2021;
}


#custom-music {
    color: #b8bb26;
    margin: 0 15px;
    padding: 0 20px;
    border-bottom: 4px solid #b8bb26;

}

#clock {
    margin: 0;
    color: #252525;
    background: #ae4c2f;
    border-bottom: 4px solid #ae4c2f;
}


#network.disconnected {
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}


#pulseaudio.muted {
    padding: 0 20px;
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}
